<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in tvshow %}
<h1>{{i.title}}</h1>
<img src="{{i.image.url}}" alt=''>
<strong>{{i.title}}</strong>
<button><a href="#">Подробнее...</a></button>
{% endfor %}
</body>
</html>